.parallax
  .parallax__layer
    +imagePresent('parallax/layer_01.png', 'parallax__img parallax__img-01')
  .parallax__layer
    +imagePresent('parallax/layer_02.png', 'parallax__img parallax__img-02')
  .parallax__layer
    +imagePresent('parallax/layer_03.png', 'parallax__img parallax__img-03')
  .parallax__layer
    +imagePresent('parallax/layer_04.png', 'parallax__img parallax__img-04 cloud_3')
  .parallax__layer
    +imagePresent('parallax/layer_05.png', 'parallax__img parallax__img-05')
  .parallax__layer
    +imagePresent('parallax/layer_06.png', 'parallax__img parallax__img-06')
  .parallax__layer
    +imagePresent('parallax/layer_07.png', 'parallax__img parallax__img-07 cloud_2')
  .parallax__layer
    +imagePresent('parallax/layer_08.png', 'parallax__img parallax__img-08')
  .parallax__layer
    +imagePresent('parallax/layer_09.png', 'parallax__img parallax__img-09')
  .parallax__layer
    +imagePresent('parallax/layer_10.png', 'parallax__img cloud_1 parallax__img-10')